node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

# Security & Credentials
google-credentials.json
.env

# Generated Assets
src/durations.json
public/audio/
public/slides/

# Logs & OS Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
